<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>easykart</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- bootstrap css cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="admin-all-p font-family">
        <navbar>
            <!-- navbar -->
            <div class="nav-main">
                <nav class="navbar shadow navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand p-2" href="#"><i class="fa fa-shopping-cart p-3"></i>EasyShop</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item active">
                                <a class="nav-link p-2" href="{% url 'index' %}">Home <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-2" href="#">Features</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link p-2" href="#">Pricing</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item ">
                                <a class="nav-link p-2 mx-3" href="{% url 'adminpage' %}">Back</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>

        </navbar>


        <!-- body -->

        <div class="container font-family mt-5">

            <div class="d-flex">
                <h4 class=" mb-3"> All Products</h4>
                <a href="{% url 'add_product_page' %}" class="btn btn-warning p-2 mx-3">Add Products</a>

            </div>
            <div class="row mt-4">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>Product</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Discription</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <!-- loop data for editing -->
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="/media/{{product.product_image}}" alt="" style="width: 45px; height: 45px"
                                        class="rounded-circle" />
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1"></p>
                                        <p class="text-muted mb-0"></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{product.product_name}}</p>
                                <p class="text-muted mb-0"></p>
                            </td>
                            <td>
                                {{product.category}}
                            </td>
                            <td>
                                {{product.description}}
                            </td>

                            <td>
                                <p>₹ {{product.price}}</p>
                            </td>
                            <td>
                                <a type="button" href="{% url 'edit_product_page' product.id %}"
                                    class="btn btn-link btn-sm btn-rounded">
                                    Edit
                                </a>
                                <a type="button" href="{% url 'delete_product' product.id %}"
                                    class="btn btn-danger btn-sm btn-rounded">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
    </div>

</body>

</html>