{% extends "index.html" %}


<!-- navbar content changed -->
{% block content %}
<!-- navbar -->
<div class="nav-main">
    <nav class="navbar shadow navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand p-2" href="#"><i class="fa fa-shopping-cart p-3"></i>EasyShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link p-2" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="{% url 'adminpage' %}">Admin</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link p-2" href="#">Pricing</a>
                </li>

            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item ">
                    <a class="nav-link p-2 text-capitalize" href="">{{user.first_name}}</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link p-2" href="{% url 'mycart' %}">Cart</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link p-2" href="{% url 'user_logout' %}">logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% endblock content %}