<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mycart</title>

  <link rel="stylesheet" href="{% static 'style.css' %}">

  <!-- bootstrap css cdn -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="cart-body">
    <!-- navbar -->
    <div class="nav-main font-family">
      <nav class="navbar shadow navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand p-2" href="#"><i class="fa fa-shopping-cart p-3"></i>EasyShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link p-2" href="{% url 'login_index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2" href="{% url 'adminpage' %}">Admin</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link p-2" href="#">Pricing</a>
            </li>
          </ul>

          <ul class="navbar-nav ms-auto">
            <li class="nav-item ">
              <a class="nav-link p-2 text-capitalize" href="#">{{user.first_name}}</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link p-2" href="{% url 'login_index' %}">Back</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link p-2 mx-3" href="{% url 'user_logout' %}">Logout</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>


    <!-- body -->
    <section>
    <div class="container font-family mt-3 cart-container">
      <h3 class="mt-5 font-family text-primary">My Cart</h3>
      <div class="row pb-5" style="min-height: 900px;">
        <div class="col-lg-8 bg-light ">
          {% for item in data %}
          <div class="col">
            <div class="cards  m-3 br-n border-bottom">
              <div class="card-block">
                <h4 class="card-title">{{item.product.product_name}}</h4>
              </div>
              <img class="cart-image" src="/media/{{item.product.product_image}}" alt="Card image">
              <div class="card-block">
                <p class="card-text">{{item.product.description}}</p>
                <div class="d-flex px-3">
                  <select class=" number" name="" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                  </select>
                  <p class="m-3"> ₹ {{item.product.price}}</p>
                  <div class="d-flex">

                    <a class="btn btn-warning" href="{% url 'remove_from_cart' item.id %}"
                      style="height:40px;"><i class="fa fa-trash"></i></a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="col-lg-4 bg-grey">
          <div class="row" style="height:40%">
            <h5 class="px-5 pt-5">Payment Type</h5>
            <ul class="p-5 list-group">
              <li class="list-group-item">UPI</li>
              <li class="list-group-item">CREDIT/DEBIT Cards</li>
              <li class="list-group-item">COD</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
          <div class="row">
            <h5 class="p-5">Placement Address</h5>
          </div>
        </div>

      </div>
      <div class="container row bg-dark cart-fixed-bar">
        <div class="col-lg-6">
          <h5 class="text-light p-3">Total : ₹  {{total}}</h5>
        </div>
        <div class="col-lg-6 d-flex justify-content-end">
          <button class="btn btn-warning m-3">Place Order</button>
        </div>
      </div>
    </div>
  </section>

  </div>
</body>

</html>